
Gerbers/Gerbers.zip
Gerbers/macropad-B_Cu.gbr
Gerbers/macropad-B_Mask.gbr
Gerbers/macropad-B_Paste.gbr
Gerbers/macropad-B_SilkS.gbr
Gerbers/macropad-Edge_Cuts.gbr
Gerbers/macropad-F_Cu.gbr
Gerbers/macropad-F_Mask.gbr
Gerbers/macropad-F_Paste.gbr
Gerbers/macropad-F_SilkS.gbr
Gerbers/macropad-NPTH.drl
Gerbers/macropad-PTH.drl
